.TodoItem{
    display:flex;
    width:80%;
    height:10%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2.5%;
    margin-bottom:2.5%;
    align-items:center;
    background-color: #f5f2f0;
    border: solid 1px rgba(51,51,51,0.12);
}

.waves-color-demo .btn:not(.waves-light), .waves-color-demo .btn-large:not(.waves-light) {
    background-color: #fff;
    color: #212121;
}
.DeleteItemBtn{
    cursor: pointer;
    color: #bdbdbd ;
}
.DeleteItemBtn:hover{
    cursor: pointer;
    color: #b71c1c;
}
[type="checkbox"]+.CheckBtn:before, [type="checkbox"]:not(.filled-in)+.CheckBtnlabel:after{
    top: 13%;
    left: 3%;
    border: 2px solid #bdbdbd;
}
[type="checkbox"]:checked+.CheckBtn:before{
    top: 5%;
    left: 0;
}

